.list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 30px 50px 0 50px;
}

.listItem {
  width: calc((100% - 5 * 50px) / 6);
  box-shadow: 0 3px 5px lightGray;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-property: transform;
  transition-duration: 300ms;
}

.image {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.listItem:hover {
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 13px;
}
